.title {
    color: white;
    text-align: center;
    font-size: 50;
}
body {
    background-color: #1e1e1e; /* dark gray */
    color: white; /* text color so it’s readable */
}
.p1 {
    font-size: 35;
    font-family: 'Times New Roman', Times, serif;
}
hr {
    border: none;
    height: 2px;
    background-color: rgb(138, 136, 136);
    width: 100%;
}
rect {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1;
    background-color: rgb(138, 136, 136);
    border-radius: 12px;
}
.WhaleV_img {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 0;
    border: 2px solid rgb(138, 136, 136);
}
.image_txt {
    display: flex;
    gap: 20px;
    max-width: 600px;
    word-spacing: 2;
    line-height: 1.5;
    background-color: rgb(40,40,40);
    padding: 30px;
    border-radius: 12px;
}
.txt1 {
    word-spacing: 2;
    line-height: 1.5;
    text-align: center;
}
.image_txt2 {
    display: flex;
    gap: 20px;
    max-width: 600px;
    word-spacing: 2;
    line-height: 1.5;
    text-align: left;
    margin-left: auto;
    background-color: rgb(40,40,40);
    padding: 30px;
    border-radius: 12px;
}
.CAD1 {
    width: 300px;
    height: 200px;
    border: 2px solid rgb(187, 187, 187);
    margin-left: auto;
}
.PDF1 {
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: center;
}