.title {
    color: white;
    text-align: center;
    font-size: 50;
}
body {
    background-color: #1e1e1e; /* dark gray */
    color: white; /* text color so it’s readable */
}
.p1 {
    font-size: 35;
    font-family: 'Times New Roman', Times, serif;
}
hr {
    border: none;          /* remove default border */
    height: 2px;           /* thickness */
    background-color: rgb(138, 136, 136); /* color of the line */
    width: 100%;           /* full width */
}